body {
  background-color: grey;
}

h1 {
  margin: 0;
  text-align: center;
}

.list-group-item {
  background-color: grey;
}

section {
  display: column;
}

img {
  width: 30%;
}

.section-one {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}



.saved-jobs a {
  text-decoration: none;
  color: white;
}

.saved-jobs {
  width: 30%;
}

.profile-container {
  width: 30%;
}

.section-two {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.job-links {
  border: 2px solid white;
  padding-left: 10px;
  margin: 5px;
}

.card-body {
  font-size: 1.5em;
}

small {
  display: flex;
  justify-content: end;
  padding-right: 10px;
}

form {
  display: flex;
  justify-content: end;
}

.reviews {
  border: 2px solid white;
  color: white;
}

.review {
  text-align: end;
}