body {
  background-color: grey;
}

h1 {
  margin: 0;
  text-align: center;
}

.list-group-item {
  background-color: grey;
}

section {
  display: column;
}


.section-one {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.profile-container {
  width: 20%;
}


.saved-jobs a {
  text-decoration: none;
  color: white;
  text-align: center;
}

.profile-container {
  width: 30%;
}