<%- include('./partials/html-head') %>
  <link rel="stylesheet" href="../stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Cairo+Play:wght@500&family=Noto+Serif:wght@700&display=swap"
    rel="stylesheet">
  <%- include('./partials/nav') %>

    <h1 class="title">Welcome to Oddjobs!</h1>
    <section>
      <div class="image-text-container">
        <div class="text-container">
          <h1>From Chores,</h1>
          <h1>To Errands,</h1>
          <h1>Find the help you want.</h1>
        </div>
        <div class="image-container">
          <div class="first-two-images">
            <img src="./images/pexels-meruyert-gonullu-7243710.jpg" alt="cleaning dishes">
            <img src="./images/pexels-ivan-samkov-5799050.jpg" alt="paint tools">
          </div>
          <div class="second-two-images">
            <img src="./images/pexels-markus-spiske-95215.jpg" alt="watering garden">
            <img src="./images/pexels-maria-orlova-4916114.jpg" alt="fruits">
          </div>
        </div>
      </div>
    </section>


    <%- include('./partials/footer') %>