<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/profiles/index.css">
  <%- include('../partials/nav') %>

    <section>
      <% if (user) { %>
        <h2>Please tell us what type of work you need done!</h2>
        <form action="/jobs" method="post">
          <label>
            Name:
            <input type="text" name="name" autocomplete="off">
          </label>
          <label>
            Classify task:
            <input type="text" name="classify">
          </label>
          <label>
            What do you need:
            <textarea type="text" name="detail" autocomplete="off">
            </textarea>
            <label>
              Job Location:
              <input type="text" name="location" autocomplete="off">
            </label>
            <button type="submit">Add job listing!</button>
        </form>
        <% } %>
    </section>


    <%- include('../partials/footer') %>