<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/jobs/new.css">
  <%- include('../partials/nav') %>

    <section>
      <h1>
        <%= title %>
      </h1>

      <form action="/jobs" method="post">
        <div class="form-group">
          <label name="name">
            Name:
            <input type="text" name="name" class="form-control">
          </label>
        </div>
        <div class="form-group">
          <label name="classify">Type of work</label>
          <select name="classify" class="form-control">
            <option value="manual">Manual Work</option>
            <option value="design">Design</option>
            <option value="Innovate">Ideas</option>
          </select>
        </div>
        <div class="form-group">

          <label name="location">Location:</label>
          <input type="text" name="location" autocomplete="off" class="form-control">
        </div>
        <div class="form-group">

          <label name="detail">What do you need?</label>
          <textarea name="detail" autocomplete="off" class="form-control"></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Post Job</button>
      </form>

    </section>


    <%- include('../partials/footer') %>