<%- include('../partials/html-head') %>
  <link rel="stylesheet" href="/stylesheets/jobs/new.css">
  <%- include('../partials/nav') %>

    <section>
      <h1>
        <%= title %>
      </h1>
      <div class="form-container">

        <form action="/jobs" method="post">
          <div>
            <label name="name">
              Name:
              <input type="text" name="name">
            </label>
          </div>

          <div>
            <label name="classify">Type of work</label>
            <select name="classify">
              <option value="manual">Manual Work</option>
              <option value="design">Design</option>
              <option value="Innovate">Ideas</option>
            </select>
          </div>

          <div>
            <label name="location">Location:</label>
            <input type="text" name="location" autocomplete="off">
          </div>

          <div>
            <label name="detail">What do you need?</label>
            <textarea name="detail" autocomplete="off"></textarea>
          </div>

          <button type="submit">Post Job</button>
        </form>
      </div>
    </section>


    <%- include('../partials/footer') %>